@-webkit-keyframes animation-1p2h4ri { 
  0% { stroke-dasharray: 1px, 200px; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -15px; }
  100% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -125px; }
}
@keyframes animation-1p2h4ri { 
  0% { stroke-dasharray: 1px, 200px; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -15px; }
  100% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -125px; }
}