@media (max-width: 975px) {
}
@media (max-width: 975px) {
}
@-webkit-keyframes calendly-bouncedelay { 
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}
@keyframes calendly-bouncedelay { 
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}