@media (max-width: 677.95px) {
}
@media (max-width: 677.95px) {
}
@media (min-width: 678px) {
}
@media (max-width: 677.95px) {
  .css-1t8e0eb { height: calc(100vh - env(safe-area-inset-top)); width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right)); overflow: hidden; display: flex; flex-direction: column; }
}
@media (max-width: 677.95px) {
  .css-1t8e0eb .content { -webkit-box-flex: 1; flex-grow: 1; overflow: hidden auto; }
}
.css-1t8e0eb .paddingBottom { padding-bottom: 100px; }
@media (min-width: 678px) {
}
@media (max-width: 1159.95px) {
}
@media (max-width: 1159.95px) {
}
@media (min-width: 1160px) {
}
.css-etg73k { display: flex; width: 100%; height: 100%; background-color: rgb(249, 244, 240); }
@media (max-width: 1159.95px) {
  .css-etg73k { flex-direction: column; }
}
.css-etg73k .dashboardContent { -webkit-box-flex: 1; flex-grow: 1; min-width: 0px; }
.css-etg73k .navbar { display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; height: 48px; }
@media (max-width: 1159.95px) {
  .css-etg73k .navbar { height: auto; padding: 16px 16px 16px 8px; }
}
@media (min-width: 1160px) {
}
@media (min-width: 1160px) {
}
@media (min-width: 1160px) {
  .css-1mgxpgk { flex-shrink: 0; width: 280px; }
}
.css-1qczbnt { flex: 0 0 auto; }
.css-w8viuc { color: rgb(51, 59, 66); box-shadow: none; background-image: none; overflow-y: auto; display: flex; flex-direction: column; height: 100%; flex: 1 0 auto; z-index: 1200; position: fixed; top: 0px; outline: 0px; left: 0px; border-right: 1px solid rgba(145, 158, 171, 0.24); width: 280px; background-color: rgb(255, 255, 255); }
@media (min-width: 0px) {
  .css-1hdbkvc { width: 105px; }
}
@media (min-width: 678px) {
  .css-1hdbkvc { width: 105px; }
}
@media (min-width: 960px) {
  .css-1hdbkvc { width: 105px; }
}
@media (min-width: 1160px) {
  .css-1hdbkvc { width: auto; }
}
@media (hover: none) {
}
@media (hover: none) {
}
.css-h7249k { -webkit-box-flex: 1; flex-grow: 1; display: flex; justify-content: space-around; }
.css-x241l8 { width: 100%; margin-left: auto; box-sizing: border-box; margin-right: auto; display: block; padding-left: 16px; padding-right: 16px; }
@media (min-width: 678px) {
  .css-x241l8 { padding-left: 24px; padding-right: 24px; }
}
@media (min-width: 1160px) {
  .css-x241l8 { max-width: 1160px; }
}
@media (min-width: 0px) {
  .css-x241l8 { padding: 0px 16px 16px; }
}
@media (min-width: 678px) {
  .css-x241l8 { padding: 0px 16px 16px; }
}
@media (min-width: 960px) {
  .css-x241l8 { padding: 0px 16px 16px; }
}
@media (min-width: 1160px) {
  .css-x241l8 { padding: 40px; }
}
.css-79elbk { position: relative; }
.css-1djq2k0 { display: flex; -webkit-box-pack: center; justify-content: center; margin-bottom: 24px; padding-top: 40px; padding-bottom: 24px; position: relative; }
.css-ucr3n2 { margin: 0px; font-weight: 700; line-height: 1.25; font-size: 1.5rem; font-family: Poppins, sans-serif; -webkit-box-flex: 1; flex-grow: 1; }
@media (min-width: 0px) {
  .css-ucr3n2 { font-size: 1.25rem; }
}
@media (min-width: 528px) {
  .css-ucr3n2 { font-size: 1.5rem; }
}
@media (min-width: 968px) {
  .css-ucr3n2 { font-size: 1.5rem; }
}
@media (min-width: 0px) {
  .css-1noe8hx { display: none; }
}
@media (min-width: 1340px) {
  .css-1noe8hx { display: inherit; }
}
.css-k008qs { display: flex; }
@media (hover: none) {
}
@media (hover: none) {
}
.css-10dohqv { user-select: none; width: 1em; height: 1em; display: inline-block; fill: currentcolor; flex-shrink: 0; transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1); font-size: 1.5rem; }
@media (hover: none) {
}
.css-1ph9pmh { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: relative; box-sizing: border-box; -webkit-tap-highlight-color: transparent; outline: 0px; border: 0px; margin: 0px 0px 0px 12px; cursor: pointer; user-select: none; vertical-align: middle; appearance: none; text-decoration: none; line-height: 1.6; font-size: 0.9375rem; text-transform: capitalize; font-family: Poppins, sans-serif; min-width: 64px; transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); color: rgb(51, 59, 66); background-color: rgb(248, 207, 97); font-weight: 700; border-radius: 8px; box-shadow: rgba(248, 207, 97, 0.08) 0px 8px 16px 0px; padding: 6px 16px; white-space: nowrap; }
.css-1ph9pmh:hover { text-decoration: none; background-color: rgb(171, 130, 50); box-shadow: rgba(99, 115, 129, 0.2) 0px 2px 4px -1px, rgba(99, 115, 129, 0.14) 0px 4px 5px 0px, rgba(99, 115, 129, 0.12) 0px 1px 10px 0px; }
@media (hover: none) {
  .css-1ph9pmh:hover { background-color: rgb(248, 207, 97); }
}
.css-1ph9pmh:active { box-shadow: rgba(99, 115, 129, 0.2) 0px 5px 5px -3px, rgba(99, 115, 129, 0.14) 0px 8px 10px 1px, rgba(99, 115, 129, 0.12) 0px 3px 14px 2px; }
.css-1ph9pmh:hover { box-shadow: none; }
@media (min-width: 0px) {
}
@media (min-width: 1340px) {
}
@media (hover: none) {
}
.css-1dl6y5j { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: relative; box-sizing: border-box; -webkit-tap-highlight-color: transparent; background-color: transparent; outline: 0px; border: 0px; margin: 0px; cursor: pointer; user-select: none; vertical-align: middle; appearance: none; text-decoration: none; font-family: Poppins, sans-serif; text-align: center; flex: 0 0 auto; font-size: 1.5rem; padding: 8px; border-radius: 50%; overflow: visible; color: rgb(99, 115, 129); transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1); }
.css-1dl6y5j:hover { background-color: rgba(99, 115, 129, 0.08); }
@media (hover: none) {
  .css-1dl6y5j:hover { background-color: transparent; }
}
.css-1dl6y5j:hover { background-color: rgba(145, 158, 171, 0.08); }
.css-1bx29xg { position: relative; padding-bottom: 16px; }
@media (max-width: 677.95px) {
}
@media (max-width: 677.95px) {
}
@media (max-width: 677.95px) {
}
.css-pklpej { margin: 0px; line-height: 1.5; font-size: 1rem; font-family: Poppins, sans-serif; font-weight: 400; }
@media (max-width: 677.95px) {
}
@media (hover: none) {
}
@media (hover: none) {
}
.css-qsaw8 { width: 100%; }
.css-xi606m { text-align: center; }
.css-ujgifx { margin: 0px; font-weight: 700; line-height: 1.5; font-size: 1.25rem; font-family: Poppins, sans-serif; }
@media (min-width: 0px) {
  .css-ujgifx { font-size: 1.125rem; }
}
@media (min-width: 528px) {
  .css-ujgifx { font-size: 1.25rem; }
}
@media (min-width: 968px) {
  .css-ujgifx { font-size: 1.25rem; }
}
.css-2ltwq1 { margin: 0px; line-height: 1.5; font-size: 1rem; font-family: Poppins, sans-serif; font-weight: 400; padding-bottom: 24px; }
.css-194w702 { background-color: rgb(255, 255, 255); color: rgb(51, 59, 66); transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); background-image: none; overflow: hidden; box-shadow: rgba(131, 116, 102, 0.08) 0px 0px 2px, rgba(131, 116, 102, 0.08) 0px 20px 40px -4px; border-radius: 8px; position: relative; z-index: 0; }
.css-11surro { padding: 24px; text-align: center; }
.css-11surro:last-child { padding-bottom: 24px; }
.css-11surro:last-child { padding-bottom: 24px; }
@media (max-width: 677.95px) {
  .css-11surro { padding: 16px; }
  .css-11surro:last-child { padding-bottom: 16px; }
}
.css-158u4o4 { box-sizing: border-box; display: flex; flex-flow: wrap; width: 100%; -webkit-box-pack: justify; justify-content: space-between; }
@media (min-width: 0px) {
  .css-158u4o4 { margin-bottom: 16px; margin-top: 0px; }
}
@media (min-width: 678px) {
  .css-158u4o4 { margin-bottom: 32px; }
}
.css-1aozxms { box-sizing: border-box; margin: 0px; flex-direction: row; flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; align-self: center; text-align: initial; }
@media (min-width: 678px) {
  .css-1aozxms { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 960px) {
  .css-1aozxms { flex-basis: 75%; -webkit-box-flex: 0; flex-grow: 0; max-width: 75%; }
}
@media (min-width: 1160px) {
  .css-1aozxms { flex-basis: 75%; -webkit-box-flex: 0; flex-grow: 0; max-width: 75%; }
}
@media (min-width: 1340px) {
  .css-1aozxms { flex-basis: 75%; -webkit-box-flex: 0; flex-grow: 0; max-width: 75%; }
}
@media (min-width: 1580px) {
  .css-1aozxms { flex-basis: 75%; -webkit-box-flex: 0; flex-grow: 0; max-width: 75%; }
}
@media (min-width: 1920px) {
  .css-1aozxms { flex-basis: 75%; -webkit-box-flex: 0; flex-grow: 0; max-width: 75%; }
}
.css-v23h5x { box-sizing: border-box; display: flex; flex-flow: column wrap; width: 100%; -webkit-box-pack: justify; justify-content: space-between; align-items: flex-start; }
.css-hw1kia { margin: 0px; font-weight: 500; line-height: 1.5; font-size: 1rem; font-family: Poppins, sans-serif; }
.css-15rkpcp { margin: 0px; line-height: 1.5; font-size: 0.75rem; font-family: Poppins, sans-serif; font-weight: 400; color: rgb(99, 115, 129); }
.css-qm6vux { box-sizing: border-box; margin: 0px; flex-direction: row; flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; display: flex; }
@media (min-width: 678px) {
  .css-qm6vux { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 960px) {
  .css-qm6vux { flex-basis: 25%; -webkit-box-flex: 0; flex-grow: 0; max-width: 25%; }
}
@media (min-width: 1160px) {
  .css-qm6vux { flex-basis: 25%; -webkit-box-flex: 0; flex-grow: 0; max-width: 25%; }
}
@media (min-width: 1340px) {
  .css-qm6vux { flex-basis: 25%; -webkit-box-flex: 0; flex-grow: 0; max-width: 25%; }
}
@media (min-width: 1580px) {
  .css-qm6vux { flex-basis: 25%; -webkit-box-flex: 0; flex-grow: 0; max-width: 25%; }
}
@media (min-width: 1920px) {
  .css-qm6vux { flex-basis: 25%; -webkit-box-flex: 0; flex-grow: 0; max-width: 25%; }
}
@media (min-width: 0px) {
  .css-qm6vux { -webkit-box-pack: start; justify-content: flex-start; margin-top: 16px; }
}
@media (min-width: 960px) {
  .css-qm6vux { -webkit-box-pack: end; justify-content: flex-end; margin-top: 0px; }
}
@media (hover: none) {
}
@media (min-width: 0px) {
}
@media (min-width: 678px) {
}
@media (min-width: 960px) {
}
.css-nklym6 { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: relative; box-sizing: border-box; -webkit-tap-highlight-color: transparent; background-color: transparent; outline: 0px; border: 0px; margin: 0px; cursor: pointer; user-select: none; vertical-align: middle; appearance: none; text-decoration: none; line-height: 1.6; font-size: 0.9375rem; text-transform: capitalize; font-family: Poppins, sans-serif; min-width: 64px; transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); color: rgb(24, 144, 255); font-weight: 700; border-radius: 8px; padding: 11px 22px; }
.css-nklym6:hover { text-decoration: none; background-color: rgba(24, 144, 255, 0.08); }
@media (hover: none) {
  .css-nklym6:hover { background-color: transparent; }
}
.css-nklym6:hover { box-shadow: none; }
@media (min-width: 0px) {
  .css-nklym6 { padding-left: 0px; }
}
@media (min-width: 678px) {
  .css-nklym6 { padding-left: 0px; }
}
@media (min-width: 960px) {
  .css-nklym6 { padding-left: 24px; }
}
.css-coclz { display: inherit; margin-right: 8px; margin-left: -4px; }
.css-coclz > :nth-of-type(1) { font-size: 22px; }
.css-zfq5zd { display: flex; flex-wrap: nowrap; -webkit-box-align: center; align-items: center; margin-bottom: 24px; }
.css-1l4vi6g { width: 80px; height: 80px; margin-right: 24px; }
.css-2l7dy8 { -webkit-box-flex: 1; flex-grow: 1; text-align: left; min-width: 0px; }
.css-8ds8qs { width: 100%; display: flex; flex-wrap: nowrap; }
@media (min-width: 0px) {
}
@media (min-width: 678px) {
}
@media (min-width: 960px) {
}
.css-5h1gmt { margin: 0px; font-weight: 500; line-height: 1.5; font-size: 1rem; font-family: Poppins, sans-serif; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; flex-shrink: 1; border-radius: 4px; transition: background-color 0.2s; }
@media (min-width: 0px) {
  .css-5h1gmt { max-width: 110px; }
}
@media (min-width: 678px) {
  .css-5h1gmt { max-width: 140px; }
}
@media (min-width: 960px) {
  .css-5h1gmt { max-width: inherit; }
}
.css-5h1gmt:hover { cursor: pointer; background-color: rgb(244, 246, 248); }
.css-o4rp9f { margin: 0px 0px 0px 8px; line-height: 1.5; font-size: 1rem; font-family: Poppins, sans-serif; font-weight: 400; color: rgb(99, 115, 129); white-space: nowrap; -webkit-box-flex: 1; flex-grow: 1; text-align: left; }
.css-gdb8ev { display: inline-flex; flex-direction: column; position: relative; min-width: 0px; padding: 0px; margin: 16px 0px 0px; border: 0px; vertical-align: top; }
.css-13wgcn3 { line-height: 1.4375em; font-size: 1rem; font-family: Poppins, sans-serif; font-weight: 400; padding: 0px; color: rgb(145, 158, 171); display: block; transform-origin: left top; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: calc(133% - 32px); position: absolute; left: 0px; top: 0px; transform: translate(14px, -9px) scale(0.75); transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1); z-index: 1; pointer-events: auto; user-select: none; }
.css-mprest { line-height: 1.4375em; font-size: 1rem; font-family: Poppins, sans-serif; font-weight: 400; color: rgb(51, 59, 66); box-sizing: border-box; cursor: text; display: inline-flex; -webkit-box-align: center; align-items: center; position: relative; border-radius: 8px; padding-left: 14px; padding-right: 14px; background-color: rgb(255, 255, 255); }
.css-mprest:hover .MuiOutlinedInput-notchedOutline { border-color: rgb(51, 59, 66); }
@media (hover: none) {
  .css-mprest:hover .MuiOutlinedInput-notchedOutline { border-color: rgba(0, 0, 0, 0.23); }
}
.css-mprest .MuiOutlinedInput-notchedOutline { border-color: rgba(145, 158, 171, 0.32); }
.css-7ix693 { display: flex; height: 0.01em; max-height: 2em; -webkit-box-align: center; align-items: center; white-space: nowrap; color: rgb(99, 115, 129); margin-right: 8px; }
.css-e1mha { font: inherit; letter-spacing: inherit; color: currentcolor; border: 0px; box-sizing: content-box; background: none; height: 1.4375em; margin: 0px; -webkit-tap-highlight-color: transparent; display: block; min-width: 0px; width: 100%; animation-name: mui-auto-fill-cancel; animation-duration: 10ms; padding: 8.5px 0px; }
.css-e1mha::-webkit-input-placeholder { color: currentcolor; opacity: 0.42; transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1); }
.css-e1mha:focus { outline: 0px; }
.css-e1mha:invalid { box-shadow: none; }
.css-e1mha::-webkit-search-decoration { appearance: none; }
.css-e1mha:-webkit-autofill { animation-duration: 5000s; animation-name: mui-auto-fill; }
.css-e1mha::-webkit-input-placeholder { opacity: 1; color: rgb(145, 158, 171); }
.css-e1mha::placeholder { opacity: 1; color: rgb(145, 158, 171); }
.css-e1mha:-webkit-autofill { border-radius: inherit; }
.css-j7qwjs { display: flex; flex-direction: column; }
.css-wt8icj { user-select: none; width: 1em; height: 1em; display: inline-block; fill: currentcolor; flex-shrink: 0; transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1); font-size: 1.5rem; cursor: default; color: inherit; }
.css-16153lv { user-select: none; width: 1em; height: 1em; display: inline-block; fill: currentcolor; flex-shrink: 0; transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1); font-size: 1.5rem; cursor: pointer; color: inherit; }
.css-igs3ac { text-align: left; position: absolute; inset: -5px 0px 0px; margin: 0px; padding: 0px 8px; pointer-events: none; border-radius: inherit; border-style: solid; border-width: 1px; overflow: hidden; min-width: 0%; }
.css-14lo706 { float: unset; width: auto; overflow: hidden; display: block; padding: 0px; height: 11px; font-size: 0.75em; visibility: hidden; max-width: 100%; transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms; white-space: nowrap; }
.css-14lo706 > span { padding-left: 5px; padding-right: 5px; display: inline-block; opacity: 0; visibility: visible; }
.css-4knjz3 { display: flex; flex-wrap: nowrap; }
.css-1qnq546 { margin: 32px 0px; flex-shrink: 0; border-width: 0px 0px thin; border-style: solid; border-color: rgba(145, 158, 171, 0.24); }
.css-c0ncfo { box-sizing: border-box; display: flex; flex-flow: wrap; width: 100%; text-align: initial; }
.css-1xz0c5i { box-sizing: border-box; margin: 0px 0px 32px; flex-direction: row; flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
@media (min-width: 678px) {
  .css-1xz0c5i { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 960px) {
  .css-1xz0c5i { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 1160px) {
  .css-1xz0c5i { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 1340px) {
  .css-1xz0c5i { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 1580px) {
  .css-1xz0c5i { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 1920px) {
  .css-1xz0c5i { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
.css-1h2jdma { box-sizing: border-box; margin: 0px; flex-direction: row; flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
@media (min-width: 678px) {
  .css-1h2jdma { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 960px) {
  .css-1h2jdma { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 1160px) {
  .css-1h2jdma { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 1340px) {
  .css-1h2jdma { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 1580px) {
  .css-1h2jdma { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 1920px) {
  .css-1h2jdma { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
.css-wkoz8z { -webkit-box-flex: 1; flex-grow: 1; text-align: left; }
.css-1qm1lh { margin-bottom: 16px; }
.css-mpb02d { margin: 0px; line-height: 1.5; font-size: 1rem; font-family: Poppins, sans-serif; font-weight: 400; color: rgb(99, 115, 129); }
.css-76wze3 { box-sizing: border-box; display: flex; flex-flow: wrap; margin-top: -16px; width: calc(100% + 16px); margin-left: -16px; }
.css-76wze3 > .MuiGrid-item { padding-top: 16px; }
.css-76wze3 > .MuiGrid-item { padding-left: 16px; }
.css-1p3pqyl { box-sizing: border-box; margin: 0px; flex-direction: row; flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
@media (min-width: 678px) {
  .css-1p3pqyl { flex-basis: 100%; -webkit-box-flex: 0; flex-grow: 0; max-width: 100%; }
}
@media (min-width: 960px) {
  .css-1p3pqyl { flex-basis: 33.3333%; -webkit-box-flex: 0; flex-grow: 0; max-width: 33.3333%; }
}
@media (min-width: 1160px) {
  .css-1p3pqyl { flex-basis: 33.3333%; -webkit-box-flex: 0; flex-grow: 0; max-width: 33.3333%; }
}
@media (min-width: 1340px) {
  .css-1p3pqyl { flex-basis: 33.3333%; -webkit-box-flex: 0; flex-grow: 0; max-width: 33.3333%; }
}
@media (min-width: 1580px) {
  .css-1p3pqyl { flex-basis: 33.3333%; -webkit-box-flex: 0; flex-grow: 0; max-width: 33.3333%; }
}
@media (min-width: 1920px) {
  .css-1p3pqyl { flex-basis: 33.3333%; -webkit-box-flex: 0; flex-grow: 0; max-width: 33.3333%; }
}
.css-19gn8uw { width: 100%; text-align: left; margin-top: -12px; padding-bottom: 8px; }
.css-1smapvr { margin: 0px; line-height: 1.5; font-size: 0.75rem; font-family: Poppins, sans-serif; font-weight: 400; color: rgba(145, 158, 171, 0.8); }
.css-u8vtdr { margin: 0px; line-height: 1.5; font-size: 1rem; font-family: Poppins, sans-serif; font-weight: 400; padding-top: 8px; color: rgb(51, 59, 66); }
@media (min-width: 0px) {
  .css-1lgo472 { display: none; }
}
@media (min-width: 678px) {
  .css-1lgo472 { display: block; }
}
.css-1vgrnu { flex-shrink: 0; border-width: 0px 0px thin; border-style: solid; border-color: rgba(145, 158, 171, 0.24); margin: 24px -24px; }
.css-elmj0s { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: flex-end; padding: 0px; }
@media (hover: none) {
}
@media (min-width: 0px) {
}
@media (min-width: 960px) {
}
.css-10mbqbg { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: relative; box-sizing: border-box; -webkit-tap-highlight-color: transparent; background-color: transparent; outline: 0px; margin: 0px 16px 0px 0px; cursor: pointer; user-select: none; vertical-align: middle; appearance: none; text-decoration: none; line-height: 1.6; font-size: 0.9375rem; text-transform: capitalize; font-family: Poppins, sans-serif; min-width: 64px; transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); font-weight: 700; border-radius: 8px; border: 1px solid rgba(145, 158, 171, 0.32); padding: 11px 22px; color: inherit; }
.css-10mbqbg:hover { text-decoration: none; background-color: rgba(247, 239, 233, 0.08); border: 1px solid rgb(247, 239, 233); }
@media (hover: none) {
  .css-10mbqbg:hover { background-color: transparent; }
}
.css-10mbqbg:hover { box-shadow: none; }
@media (min-width: 0px) {
  .css-10mbqbg { width: calc(50% - 8px); }
}
@media (min-width: 960px) {
  .css-10mbqbg { width: inherit; }
}
@media (hover: none) {
}
@media (min-width: 0px) {
}
@media (min-width: 960px) {
}
.css-1desm2a { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: relative; box-sizing: border-box; -webkit-tap-highlight-color: transparent; outline: 0px; border: 0px; margin: 0px; cursor: pointer; user-select: none; vertical-align: middle; appearance: none; text-decoration: none; line-height: 1.6; font-size: 0.9375rem; text-transform: capitalize; font-family: Poppins, sans-serif; min-width: 64px; transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); color: rgb(51, 59, 66); background-color: rgb(248, 207, 97); font-weight: 700; border-radius: 8px; box-shadow: rgba(248, 207, 97, 0.08) 0px 8px 16px 0px; padding: 11px 22px; }
.css-1desm2a:hover { text-decoration: none; background-color: rgb(171, 130, 50); box-shadow: rgba(99, 115, 129, 0.2) 0px 2px 4px -1px, rgba(99, 115, 129, 0.14) 0px 4px 5px 0px, rgba(99, 115, 129, 0.12) 0px 1px 10px 0px; }
@media (hover: none) {
  .css-1desm2a:hover { background-color: rgb(248, 207, 97); }
}
.css-1desm2a:active { box-shadow: rgba(99, 115, 129, 0.2) 0px 5px 5px -3px, rgba(99, 115, 129, 0.14) 0px 8px 10px 1px, rgba(99, 115, 129, 0.12) 0px 3px 14px 2px; }
.css-1desm2a:hover { box-shadow: none; }
@media (min-width: 0px) {
  .css-1desm2a { width: calc(50% - 8px); }
}
@media (min-width: 960px) {
  .css-1desm2a { width: inherit; }
}
.css-w0pj6f { overflow: hidden; pointer-events: none; position: absolute; z-index: 0; inset: 0px; border-radius: inherit; }
.css-yezyng { display: flex; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; min-height: 100%; padding-top: env(safe-area-inset-top); }
.css-i9gxme { -webkit-box-flex: 1; flex-grow: 1; }
.css-qygfnt { padding: 40px 24px; }
.css-9whsf3 { max-width: 100%; }
.css-1ykdma4 { width: 100%; display: flex; -webkit-box-pack: center; justify-content: center; }
@media (hover: none) {
}
@media (hover: none) {
}
.css-u61u8a { -webkit-tap-highlight-color: transparent; background-color: transparent; outline: 0px; border: 0px; margin: 0px; border-radius: 0px; cursor: pointer; user-select: none; vertical-align: middle; appearance: none; font-family: Poppins, sans-serif; display: flex; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-pack: start; justify-content: flex-start; -webkit-box-align: center; align-items: center; text-decoration: none; min-width: 0px; box-sizing: border-box; text-align: left; padding: 8px 20px 8px 40px; transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1); line-height: 1.2; font-size: 0.875rem; height: 48px; position: relative; color: rgb(99, 115, 129); }
.css-u61u8a:hover { text-decoration: none; background-color: rgba(145, 158, 171, 0.08); }
@media (hover: none) {
  .css-u61u8a:hover { background-color: transparent; }
}
@media (hover: none) {
}
.css-u61u8a::before { top: 0px; right: 0px; width: 3px; bottom: 0px; content: ""; display: none; position: absolute; border-top-left-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(248, 207, 97); }
.css-1o7fi9n { flex-shrink: 0; color: inherit; min-width: auto; margin-right: 16px; width: 22px; height: 22px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.css-xdiy5h { flex: 1 1 auto; min-width: 0px; margin-top: 0px; margin-bottom: 0px; }
.css-1f3k1gi { height: 22px; min-width: 22px; line-height: 0; border-radius: 8px; cursor: default; -webkit-box-align: center; align-items: center; white-space: nowrap; display: inline-flex; -webkit-box-pack: center; justify-content: center; padding: 0px 8px; color: rgb(99, 115, 129); font-size: 0.75rem; font-family: Poppins, sans-serif; background-color: rgba(145, 158, 171, 0.16); font-weight: 700; }
.css-ss6lby { margin: 0px; flex-shrink: 0; border-width: 0px 0px thin; border-style: solid; border-color: rgba(145, 158, 171, 0.24); }
@media (hover: none) {
}
@media (hover: none) {
}
.css-qnl5jc { -webkit-tap-highlight-color: transparent; background-color: transparent; outline: 0px; border: 0px; margin: 0px; border-radius: 0px; cursor: pointer; user-select: none; vertical-align: middle; appearance: none; font-family: Poppins, sans-serif; display: flex; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-pack: start; justify-content: flex-start; -webkit-box-align: center; align-items: center; text-decoration: none; min-width: 0px; box-sizing: border-box; text-align: left; transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1); line-height: 1.2; font-size: 0.875rem; height: 48px; position: relative; padding: 32px 20px 32px 40px; color: rgb(99, 115, 129); }
.css-qnl5jc:hover { text-decoration: none; background-color: rgba(145, 158, 171, 0.08); }
@media (hover: none) {
  .css-qnl5jc:hover { background-color: transparent; }
}
@media (hover: none) {
}
.css-qnl5jc::before { top: 0px; right: 0px; width: 3px; bottom: 0px; content: ""; display: none; position: absolute; border-top-left-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(248, 207, 97); }
@-webkit-keyframes animation-f6tr5a { 
  0% { transform: scale(1); }
  50% { transform: scale(0.92); }
  100% { transform: scale(1); }
}
@keyframes animation-f6tr5a { 
  0% { transform: scale(1); }
  50% { transform: scale(0.92); }
  100% { transform: scale(1); }
}
@-webkit-keyframes animation-5ich1p { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes animation-5ich1p { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes animation-1taevns { 
  0% { transform: scale(0); opacity: 0.1; }
  100% { transform: scale(1); opacity: 0.3; }
}
@keyframes animation-1taevns { 
  0% { transform: scale(0); opacity: 0.1; }
  100% { transform: scale(1); opacity: 0.3; }
}