html { -webkit-font-smoothing: antialiased; box-sizing: border-box; text-size-adjust: 100%; }
*, ::before, ::after { box-sizing: inherit; }
body { color: rgb(51, 59, 66); line-height: 1.5; font-size: 1rem; font-family: Poppins, sans-serif; font-weight: 400; }
* { margin: 0px; padding: 0px; box-sizing: border-box; }
html { width: 100%; height: 100%; overscroll-behavior-y: none; }
body { width: 100%; height: 100%; background-color: rgb(249, 244, 240); margin: 0px; padding-top: env(safe-area-inset-top); overscroll-behavior-y: none; }
input[type="number"] { }
input[type="number"]::-webkit-outer-spin-button { margin: 0px; appearance: none; }
input[type="number"]::-webkit-inner-spin-button { margin: 0px; appearance: none; }
a { color: rgb(248, 207, 97); }
img { display: block; max-width: 100%; }