@-webkit-keyframes animation-61bdi0 { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes animation-61bdi0 { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}